fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
google-api-python-client==2.140.0
google-auth==2.34.0
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.1
qrcode[pil]==7.4.2
pydantic-settings==2.5.2
